# FIND S ALGO

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('exp1.csv')
df

     sky airtemp humidity    wind water forcast enjoysport
0  sunny    warm   normal  strong  warm    same        yes
1  sunny    warm     high  strong  warm    same        yes
2  rainy    cold     high  strong  warm  change         no
3  sunny    warm     high  strong  cool  change        yes

In [5]:
a = np.array(df)[:,:-1]
print('The attributes are:', a)

The attributes are: [['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
 ['sunny' 'warm' 'high' 'strong' 'warm' 'same']
 ['rainy' 'cold' 'high' 'strong' 'warm' 'change']
 ['sunny' 'warm' 'high' 'strong' 'cool' 'change']]

In [6]:
target = np.array(df)[:,-1]
print('The target is:', target)

The target is: ['yes' 'yes' 'no' 'yes']

In [14]:
def train(c,t):
    for i, val in enumerate(t):
        if val == 'yes':
            specific_hypo = c[i].copy()
            break
    for i, val in enumerate(c):
        if t[i]=='yes':
            for x in range(len(specific_hypo)):
                if val[x] != specific_hypo[x]:
                    specific_hypo[x]='?'
                else:
                    pass
    return specific_hypo

In [15]:
print("The final hypothesis is:",train(a,target))

The final hypothesis is: ['sunny' 'warm' '?' 'strong' '?' '?']